<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Царство</h1>

    <p>Мистерия</p>

    <img src="assets/kingdom_cover.jpg" alt="Царство">

    <iframe frameborder="0" src="https://music.yandex.ru/iframe/#album/5073586">Слушайте <a href='https://music.yandex.ru/album/5073586'>Царство</a> — <a href='https://music.yandex.ru/artist/5659381'>ГДЕ?</a> на Яндекс.Музыке</iframe>

    <p>
      <a href="https://music.yandex.ru/album/5073586">Яндекс.Музыка</a>
      <a href="https://vk.com/music/playlist/-30610659_3_0ae71bf8793bc5aa47">VK</a>
      <a href="https://arproduction.bandcamp.com/album/arp068">Bandcamp</a>
      <a href="http://bit.ly/gde_itunes">iTunes</a>
      <a href="http://bit.ly/gde_google">Google&nbsp;Play</a>
      <a href="http://bit.ly/gde_deezer">Deezer</a>
      <a href="http://bit.ly/gde_spotify">Spotify</a>
    </p>

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров:</strong> тексты (кроме 4&nbsp;&mdash; Н.&nbsp;Гумилёв), музыка&nbsp;(4), вокал&nbsp;(3), бэк-вокал (2, 7, 8, 10).
      <strong>Юрий&nbsp;Шевченко:</strong> музыка (кроме 4, 10), вокал, блокфлейта, сведение, мастеринг, вёрстка обложки.
      <strong>Антон&nbsp;Бессонов:</strong> музыка&nbsp;(10), бэк-вокал&nbsp;(10), аранжировки, саунд-дизайн, гитары, запись маточина&nbsp;(7).
      <strong>Дина&nbsp;Галузо:</strong> вокал, бэк-вокал.
      <strong>Владимир&nbsp;Яроцкий</strong>&nbsp;&mdash; варган&nbsp;(2).
      <strong>Бо</strong>&nbsp;&mdash; маточин&nbsp;(7).
      <strong>Роман&nbsp;Кондратьев</strong>&nbsp;&mdash; запись маточина&nbsp;(7).
      <strong>Василий&nbsp;Ткач, Дмитрий&nbsp;Сыркин</strong>&nbsp;&mdash; запись трембиты&nbsp;(7).
      <strong>Дмитрий&nbsp;Авраменко</strong>&nbsp;&mdash; вторая соло-гитара&nbsp;(10).
      <strong>На&nbsp;обложке</strong>&nbsp;&mdash; &laquo;Перепись в&nbsp;Вифлееме&raquo; Питера Брейгеля Младшего.
      <strong>Дата релиза</strong>&nbsp;&mdash; 28&nbsp;февраля 2018&nbsp;г.
    </p>

  </section>

</article>
