<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Приноровлюсь-ка я к тебе</h1>

    <p>Александр Литвинов (Веня Д'ркин, Дрантя)</p>

  </header>

  <section>

    <pre>
C          Dm     G7     C
  Приноровлюсь-ка я к тебе
          Dm   G7       C
Звезда на ушко    нашептала
           A7       Dm
Что после пятого бокала
               Am      E     F
Сгореть нам в чувственном огне
         Dm     E      Am
Приноровлюсь-ка я к тебе

Прителогреешь ты меня
Я стану тверд и покраснею
В ответ чего-нибудь посмею
Эх мать подушка-простыня
Прителогреешь ты меня

И наконец твоя взяла
Она взяла и попустила
Поди-ка в том мужская сила
Что нет стакана без стола
Не секс а так куча-мала

И угораздило же нас
Меня сейчас тебя чуть позже
Что собственно одно и то же
Смотря на то как посмотреть
Пусть угораздит нас и впредь</pre>

  </section>

</article>
