<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Коляска-долботряска</h1>

    <p>Изощрённая музыкально-поэтическая фенька <br>
    в&nbsp;духе нездорового приколизма. <br>
    Прощание с&nbsp;русским роком и&nbsp;самоироничное отражение <br>
    творческого одиночества группы <br>
    вне донбасского художественного контекста <br>
    в&nbsp;период 2002&ndash;2006&nbsp;гг.</p>

    <img src="assets/perambulator_cover.png" alt="Коляска-долботряска">

    <p><a href="https://yadi.sk/d/3DG-aegYsx7zZ">Скачать</a></p>

  </header>

  <section>

    <p class="small">
      <strong>Юрий Шевченко:</strong> тексты (2, 3, 6, 7, 9, 10&nbsp;и&nbsp;14, 12, 15, 16, 20&nbsp;и&nbsp;22, 21), музыка (2,&nbsp;3&nbsp;[фантазия], 5, 7, 9, 10&nbsp;и&nbsp;14, 12, 16, 17, 20&nbsp;и&nbsp;22, 21), вокал и&nbsp;декламация (везде, кроме *8, *15, 17), аранжировки и&nbsp;запись вокала (везде, кроме *8, *15, *23), сведение (везде, кроме *8, *15), дизайн и&nbsp;вёрстка обложки.
      <strong>Руслан Гончаров:</strong> тексты (3, 4, 6, 8, 11, 13, 20&nbsp;и&nbsp;22), музыка (4, 11, 13, 18), вокал (17), художественная концепция обложки.
      <strong>Роман Дегтяренко</strong>&nbsp;&mdash; тексты (1, 3, 9, 16).
      <strong>Антон Бессонов</strong>&nbsp;&mdash; все работы (кроме текстов) над композициями *8&nbsp;и&nbsp;*15.
      <strong>Иоганн Себастьян Бах</strong>&nbsp;&mdash; прелюдия и&nbsp;фуга &#8470;&nbsp;10&nbsp;ми минор (1).
      <strong>Неизвестный автор</strong>&nbsp;&mdash; &laquo;Кубинский танец&raquo; (3,&nbsp;прототип).
      <strong>Фрэнк Синатра</strong>&nbsp;&mdash; &laquo;Somethin&rsquo; Stupid&raquo; (6).
      <strong>Михайль Семенко</strong>&nbsp;&mdash; &laquo;Вагоновод&raquo; (текст).
      <strong>Николай Гумилев</strong>&nbsp;&mdash; &laquo;Жираф&raquo; (текст).
      <strong>Андрей Икрин</strong>&nbsp;&mdash; &laquo;Муха&raquo; (текст).
      <strong>Испанец</strong>&nbsp;&mdash; &laquo;Колыбельная&raquo; (текст и&nbsp;музыка).
      <strong>Русские рокеры</strong>&nbsp;&mdash; участники композиции&nbsp;*23.
    </p>

  </section>

</article>
