<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Зимний альбом</h1>

    <p>Попытка символистического осмысления <br>
    <span class="nowrap">культурно-исторического</span> пространства одного&nbsp;донбасского&nbsp;города <br>
    и&nbsp;трансформаций этого&nbsp;пространства <br>
    как&nbsp;отражения <span class="nowrap">философско-мировоззренческих</span>, <br>
    <span class="nowrap">социально-политических</span> коллизий эпохи.</p>

    <img src="assets/winter_cover.jpg" alt="Зимний альбом">

    <div class="vk">
      <div [id]="objId"></div>
    </div>

    <img src="assets/winter_inside.jpg" alt="Обложка">

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров:</strong> тексты (все, кроме 2&nbsp;и&nbsp;12, 8&nbsp;&mdash; по&nbsp;мотивам рассказа Ю.&nbsp;Шевченко &laquo;<a routerLink="../../knm">Ком Натаро Мана</a>&raquo;), музыка (в&nbsp;соавторстве с&nbsp;Ю.&nbsp;Шевченко: 3, 9), вокал (3, 9, 12).
      <strong>Юрий Шевченко:</strong> музыка (вся, кроме 2&nbsp;и&nbsp;12, 3&nbsp;и&nbsp;9&nbsp;&mdash; в&nbsp;соавторстве с&nbsp;Р.&nbsp;Гончаровым), аранжировки, секвенсор, вокал (везде, кроме 3, 9, 12), запись вокала, фото и&nbsp;вёрстка обложки.
      <strong>Антон Бессонов:</strong> гитара, бас, сведение, мастеринг.
      <strong>Веня Д&rsquo;ркин</strong>&nbsp;&mdash; текст и&nbsp;музыка&nbsp;(2).
      <strong>А.&nbsp;Непомнящий</strong>&nbsp;&mdash; текст и&nbsp;музыка&nbsp;(12).
      Альбом записан и&nbsp;сведён в&nbsp;Новолуганском, Енакиево и&nbsp;Горловке в&nbsp;марте&nbsp;&mdash; ноябре 2014&nbsp;г.
      Отдельная благодарность <strong>Дине Галузо</strong> за&nbsp;помощь в&nbsp;постановке вокала (3,&nbsp;9,&nbsp;12).
      <strong>Дата релиза</strong>&nbsp;&mdash; 15&nbsp;ноября 2014&nbsp;г.
    </p>

  </section>

</article>
