<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Семистопное ямбирование</h1>

    <p>Юрий Шевченко, 2004 г.</p>

  </header>

  <section>

    <p>&mdash;&nbsp;Молекулы различных эпистоляриев имеют склонность абсурдизироваться в&nbsp;полемической драме бытия, когда причинно-следственные концепции тают на&nbsp;глазах,&nbsp;&mdash; сказал Мой Лучший Друг.</p>

    <p>&mdash;&nbsp;Ты&nbsp;считаешь? &mdash;&nbsp;задумчиво покачал я&nbsp;ногой.&nbsp;&mdash; Но&nbsp;ведь когда античные событийные эмоции приходят в&nbsp;негодность, от&nbsp;них нельзя получить совершенства, не&nbsp;так&nbsp;ли?</p>

    <p>&mdash;&nbsp;Почему&nbsp;же? Не&nbsp;обязательно. &mdash;&nbsp;Разговаривая, Мой Лучший Друг продолжал наигрывать задумчивую рапсодию. &mdash;&nbsp;Всегда ведь есть шанс на&nbsp;акционерное представительство в&nbsp;парламенте, когда тысячи избранных толп шныряют по&nbsp;подъездам в&nbsp;поисках пустых бутылок, ничего не&nbsp;замечая вокруг.</p>

    <p>&mdash;&nbsp;Погоди-ка, что-то ты&nbsp;тут путаешь. Если дважды два четыре будет пять, когда&nbsp;же наступит бесконечная параллелизация семистопных ямбов?</p>

    <p>&mdash;&nbsp;А&nbsp;вот в&nbsp;том-то и&nbsp;дело, что никогда! Ведь что такое, по&nbsp;сути, вечность? Ну, по-сути? Это когда... М-м-м... Э-э... &mdash;&nbsp;Мой Лучший Друг сделал большой молчаливый ковть хересу и&nbsp;задумался.</p>

    <p>Я&nbsp;тем временем полез в&nbsp;шкаф в&nbsp;надежде найти там что-нибудь полезное. Вечность... Вечность... Я&nbsp;внимательно просматривал корешки книг, но&nbsp;нигде не&nbsp;было написано &laquo;Вечность&raquo;. Вот&nbsp;же незадача!</p>

    <p>&mdash;&nbsp;Придумал! &mdash;&nbsp;Сказал Мой Лучший Друг. &mdash;&nbsp;Абсурдизация производства в&nbsp;красно-племенные оттенки швыряет совпадения машинального импульса, так?</p>

    <p>&mdash;&nbsp;Ну, да.</p>

    <p>&mdash;&nbsp;Тогда одинаковые равномерные последовательности одинаково равномерно последовательны, так?</p>

    <p>&mdash;&nbsp;Ну, да. А&nbsp;что?</p>

    <p>&mdash;&nbsp;А&nbsp;то! Смотри, раз шикарные представительства в&nbsp;атмосфере влиятельны, значит импрессионистические повстанцы глицеринизированы, следовательно херес&nbsp;&mdash; это такое вино!</p>

    <p>Взволнованный открытием Моего Лучшего Друга, я&nbsp;вскочил с&nbsp;кресла и&nbsp;принялся мерять шагами комнату. Оказалось двадцать пять. Прекрасно. Если херес&nbsp;&mdash; это такое вино, а&nbsp;комната&nbsp;&mdash; двадцать пять, значит...</p>

    <p>&mdash;&nbsp;Так, спокойно. &mdash;&nbsp;Сказал Мой Лучший Друг. &mdash;&nbsp;Давай проверим еще раз. &mdash;&nbsp;Семистопные ямбы широко рентабельны. Селедка ординарно реставрирована. Изгибы шеи, завитки волос&nbsp;&mdash; все это позади. Остается генерация недвижимости. Так. Ну-к...</p>

    <p>Он&nbsp;с&nbsp;кряхтением вылез из-за рояля, полез в&nbsp;шкаф и&nbsp;достал оттуда книжку &laquo;Семистопные ямбы в&nbsp;широкой последовательности&raquo;. Полистал. Хмыкнул. Полистал еще. Сказал: &laquo;Тю&raquo;. Еще полистал. Брови его поднялись, потом насупились.</p>

    <p>&mdash;&nbsp;Тьфу,&nbsp;&mdash; плюнул он&nbsp;в&nbsp;пепельницу. &mdash;&nbsp;Слушай, в&nbsp;общем, читаю. &laquo;Семистопные ямбы, как хоровые и&nbsp;транслокационные институции, способны к&nbsp;самосведению. Это означает, что ямбирование семистопами происходит перпендикулярно реставрации селедки. Предположительно, арбузные корочки способны повлиять на&nbsp;сокращение горизонтального положения вши. Но&nbsp;только в&nbsp;случае крамольного сочетания красного перца и&nbsp;таинственной непостижимости возможно полное обнаружение ординарных непотребностей. А&nbsp;Его здесь нет и&nbsp;поставь на&nbsp;место книгу, козел!&raquo; Вот так. &mdash;&nbsp;Он&nbsp;бросил книгу в&nbsp;рояль, сделал большой ковть хересу и&nbsp;снова уселся играть.</p>

    <p>Да&nbsp;уж. Да&nbsp;в&nbsp;общем-то, я&nbsp;никогда и&nbsp;не&nbsp;надеялся, что семистопное ямбирование может как-то помочь нам в&nbsp;поисках Его.</p>

  </section>

</article>
