<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Днепропетровск</h1>

    <p>Юрий Шевченко, 2005 г.</p>

  </header>

  <section>

    <p>асфальт на&nbsp;улицах запорошил<br>
    <span class="i1">декабрьский снег</span><br>
    <span class="i2">сухой и&nbsp;неуютный</span></p>

    <p>я&nbsp;вышел на&nbsp;белеющий проспект<br>
    <span class="i1">вечерним часом</span><br>
    <span class="i2">в&nbsp;валенки обутый</span></p>

    <p>я&nbsp;шел по&nbsp;набережной<br>
    <span class="i1">глядя на&nbsp;закат</span><br>
    и&nbsp;думал о&nbsp;мерцающих созвездьях<br>
    о&nbsp;том как чайки над рекой галдят<br>
    и&nbsp;пестрая тайга ветрами воет<br>
    и&nbsp;поезда уходят через мост<br>
    <span class="i1">туда</span><br>
    <span class="i2">откуда нет уже возврата</span></p>

    <p>а&nbsp;кто-то в&nbsp;баре жарил шашлыки<br>
    и&nbsp;распивал прокисшее вино<br>
    гремела музыка из&nbsp;грязных подворотен<br>
    автомобили мчались кто куда<br>
    огни сверкали<br>
    <span class="i1">лаяли собаки</span><br>
    и&nbsp;голоса неслись со&nbsp;всех сторон</p>

    <p>и&nbsp;мне вообразилось<br>
    <span class="i1">что вдали</span><br>
    за&nbsp;сотни верст от&nbsp;хижины моей<br>
    которую я&nbsp;скромно называю домом<br>
    живешь прекрасная<br>
    <span class="i1">таинственная</span><br>
    <span class="i2">ты</span><br>
    чей взгляд мне смутно кажется знакомым</p>

    <p>меня приносят ноги на&nbsp;вокзал<br>
    и&nbsp;я&nbsp;смотрю на&nbsp;уходящий поезд<br>
    а&nbsp;снег холодный падает в&nbsp;рюкзак<br>
    который застегнуть забыл я&nbsp;утром</p>

    <p>сегодня я&nbsp;опять<br>
    <span class="i1">остался</span><br>
    <span class="i2">здесь</span></p>

  </section>

</article>
