<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Серебряный Сендей</h1>

    <p>Александр Литвинов (Веня Д'ркин, Дрантя)</p>

  </header>

  <section>

    <pre>
C                  Cmaj7
  А у Сендея были дома но не все
C7                  A7          Dm7
   А у Сендея жила белка в колесе
               G
И тапером экзотический тапир
C                   A7
  И жирафом был кассир
Dm7                   F           G
    И приглашал всех нас в синематограф

      C
И Сендей собирал серебро
       Dm              A
Благо за ночь его намело
     Dm              G
И на улице было светло
              C
От того серебра
E              Am
  Детворе на ура
             F  G
И Сендею добро
        C
В закрома

И совсем не пропало добро
Даже летом когда стало тепло
То Сендей раздавал серебро
Просто так задарма
Детворе на ура
И Сендею светло
В закрома

А у Сендея жили дивы во дворе
Сендей лукаво улыбался в серебре
Там для тебя были воздушные шары
И испеченный каравай
Там для меня была охотница с серебряным луком

Но остался он без серебра
Без кола и без двора
И сказал значит время мое
Еще не пришло
Но пришли доктора
И сказали пора
В закрома</pre>

  </section>

</article>
