<article>

  <app-navigation></app-navigation>

  <header>

    <h1>ГДЕ?</h1>

    <p>Трансцендентные импрессионистические <br>
    рок-предания, <span class="nowrap">пост-рок-пейзажи</span> и&nbsp;<span class="nowrap">нео-рок-стенограммы</span> <br>
    Города&nbsp;вечной&nbsp;осени</p>

    <div class="thumbs">

      <div>
        <a href="thewhere/kingdom"><img src="assets/kingdom_thumb.jpg" alt="Царство"></a>
        <h2><a href="thewhere/kingdom">Царство</a></h2>
        <p>2018</p>
      </div>

      <div>
        <a href="thewhere/days"><img src="assets/days_thumb.jpg" alt="Дни немоты"></a>
        <h2><a href="thewhere/days">Дни немоты</a></h2>
        <p>2016</p>
      </div>

      <div>
        <a href="thewhere/winter"><img src="assets/winter_thumb.jpg" alt="Зимний альбом"></a>
        <h2><a href="thewhere/winter">Зимний альбом</a></h2>
        <p>2014</p>
      </div>

      <div>
        <a href="thewhere/nocturnal"><img src="assets/nocturnal_thumb.jpg" alt="Ночные"></a>
        <h2><a href="thewhere/nocturnal">Ночные</a></h2>
        <p>2011</p>
      </div>

      <div>
        <a href="thewhere/de-profundis"><img src="assets/de_profundis_thumb.jpg" alt="De Profundis"></a>
        <h2><a href="thewhere/de-profundis">De Profundis</a></h2>
        <p>2007</p>
      </div>

      <div>
        <a href="thewhere/pram"><img src="assets/perambulator_thumb.png" alt="Коляска-долботряска"></a>
        <h2><a href="thewhere/pram">Коляска-долботряска</a></h2>
        <p>2006</p>
      </div>

      <div>
        <a href="thewhere/illuzstrator"><img src="assets/illuzstrator_thumb.jpg" alt="ИллюЗстратор"></a>
        <h2><a href="thewhere/illuzstrator">ИллюЗстратор</a></h2>
        <p>2002</p>
      </div>

      <div>
        <a href="thewhere/ursa"><img src="assets/ursa_thumb.jpg" alt="Медведица"></a>
        <h2><a href="thewhere/ursa">Медведица</a></h2>
        <p>2000</p>
      </div>

    </div>

  </header>

  <section>

    <p>Музыка &laquo;ГДЕ?&raquo; звучит во&nbsp;времена подземных равноденствий и&nbsp;спонтанных солнцестояний, в&nbsp;периоды нечетных полулистопадов и&nbsp;обоюдных нециклических псевдоматериализаций, в&nbsp;дни немоты, в&nbsp;дни рождения, смерти и&nbsp;перерождения Карла Фридриха Иеронима фон Мюнхгаузена, в&nbsp;дни памяти блаженного Егория, затворника и&nbsp;исповедника Ново-Корсунского, а&nbsp;также раз в&nbsp;тысячелетие&nbsp;&mdash; в&nbsp;Межгалактическую ночь предрассветной цветомузыки и&nbsp;лингвобалета.</p>

    <p>Выступления группы по&nbsp;случайному совпадению могут происходить в&nbsp;концерт-холле полночного отеля &laquo;Под сенью симультанных симулякров&raquo;, на&nbsp;малой сцене Театра-призрака, в&nbsp;экзистенциальном кафе &laquo;Легкокрылый Морфей&raquo;, а&nbsp;также в&nbsp;любое время суток на&nbsp;берегах метафизического фонтана.</p>

  </section>

</article>
