<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Карточная &laquo;Империя&raquo;</h1>

    <p>Юрий Шевченко, 25 декабря 2012 г.</p>

    <img src="assets/emcard822.png" alt="Игровое поле">

  </header>

  <section>

    <p><strong>Карточная экономическая игра &laquo;Империя&raquo;</strong> по&nbsp;существу является аналогом карточной игры <strong>&laquo;Монополия Сделка&raquo; (&laquo;Monopoly Deal&raquo;)</strong>, однако обладает своими особенностями и&nbsp;некоторыми преимуществами. Во-первых, на&nbsp;карточную модель игры перенесен антураж <a routerLink="../empire/">классической &laquo;Империи&raquo;</a>, что дает ее&nbsp;любителям ощущение новизны, делает эту игру более современной и&nbsp;динамичной. А&nbsp;во-вторых, карточная &laquo;Империя&raquo; разрабатывалась с&nbsp;учетом одного большого недостатка ее&nbsp;прототипа.</p>

    <p>Дело в&nbsp;том, что &laquo;Монополия Сделка&raquo;, будучи действительно интересной и&nbsp;оригинальной игрой, увы, якобы под видом отражения экономических реалий современности откровенно приучает игроков быть нечестными и&nbsp;подлыми, не&nbsp;считаться с&nbsp;ближним в&nbsp;эгоистичной погоне за&nbsp;личным успехом. В&nbsp;то&nbsp;время как &laquo;Империя&raquo;&nbsp;&mdash; это игра не&nbsp;ради азарта и&nbsp;удовлетворения своего тщеславия, а&nbsp;ради здорового общения и&nbsp;приятного времяпровождения в&nbsp;компании не&nbsp;соперников, но&nbsp;друзей, которых не&nbsp;хочется обижать и&nbsp;предавать.</p>

    <p>Поэтому в&nbsp;карточной &laquo;Империи&raquo; аналогов некоторых нехороших карт действия &laquo;Монополии Сделки&raquo; нет вообще, а&nbsp;действие некоторых других исправлено с&nbsp;таким расчетом, чтобы никому не&nbsp;было обидно. В&nbsp;то&nbsp;же время, добавлены совершенно новые, оригинальные карты действия, аналогов которых нет в&nbsp;&laquo;Монополии Сделке&raquo;.</p>

    <p>Официального издания этой игры не&nbsp;существует, она полностью самодельная.</p>

    <p><a href="http://yadi.sk/d/Rv-w-ljI1RJY4"><strong>Скачать</strong> карточный вариант &laquo;Империи&raquo; можно абсолютно <strong>бесплатно</strong></a>.</p>

  </section>

</article>
