<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Ладо</h1>

    <p>Александр Литвинов (Веня Д'ркин Дрантя)</p>

  </header>

  <section>

    <pre>
Am          Dm9   Dm      E                Am
   Негде коню скакать спасать от злого взгляда
          Dm7          E            Am    A
Теребь самой бежать искать берегом видишь
 Dm             G                  C     Am
Черным крылом хлопает дом пустой ставней
        Dm9   Dm       E        Am   A
Мимо дорог забитых травой Лихо рядом

            Dm7
Отпусти да чур Лешак бежать мне всякий путь колом
        Dm9      Dm
А коня Навь в повод ведет всяк одно сгинуть
Черной золой ветер зарой в листве палой
Среди дорог дороги домой моей нету

А вода студена из воды моих рубах просят
А в Березани лед сойдет ты меня встретишь
Чистой водой мчится домой твое Ладо
Мимо дорог забитых травой мой путь светел</pre>

  </section>

</article>
