<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Настольная экономическая игра &laquo;Империя&raquo;</h1>

    <p>Юрий Шевченко, 12 декабря 2012 г.</p>

    <img src="assets/empire822.png" alt="Игровое поле">

  </header>

  <section>

    <p>Для любителей <strong>настольных</strong> игр&nbsp;&mdash; увлекательная <strong>экономическая игра</strong> в&nbsp;научно-фантастическом антураже <strong>&laquo;Империя&raquo;</strong> в&nbsp;формате <strong>&laquo;распечатай и&nbsp;играй&raquo; (print and play)</strong>.</p>

    <p>Обновленный, свежий и&nbsp;яркий дизайн.</p>

    <p>Страницы формата А4&nbsp;&mdash; печатайте на&nbsp;любом принтере.</p>

    <p>Вся графика в&nbsp;аккуратном векторе&nbsp;&mdash; масштабируйте и&nbsp;меняйте цвета на&nbsp;свой вкус.</p>

    <p>Для тех, кто не&nbsp;совсем в&nbsp;теме. <strong>Настольная экономическая игра &laquo;Империя&raquo;</strong>&nbsp;&mdash; это качественная вариация на&nbsp;тему &laquo;Монополии&raquo;, основной механизм тот&nbsp;же, но&nbsp;весь игровой процесс остроумно облечен в&nbsp;научно-фантастический антураж. Поле деятельности&nbsp;&mdash; галактика, объекты недвижимости&nbsp;&mdash; планеты, названные фамилиями писателей-фантастов. В&nbsp;отличие от&nbsp;классической &laquo;Монополии&raquo;, даже в&nbsp;современном ее&nbsp;издании, с&nbsp;красным скоростным кубиком, игровой процесс в&nbsp;&laquo;Империи&raquo; происходит гораздо живее и&nbsp;динамичнее, за&nbsp;счет гиперпрыжков через подпространство и&nbsp;непредсказуемых событий, обусловленных попаданием в&nbsp;&laquo;Зону&raquo; Стругацких, контактами с&nbsp;внеземными цивилизациями и&nbsp;так называемого x-фактора.</p>

    <p><a href="http://yadi.sk/d/hmOwzAJw1RYCp"><strong>Скачать</strong> &laquo;Империю&raquo; можно абсолютно <strong>бесплатно</strong></a>.</p>

    <p>Можно <a href="http://yadi.sk/d/ydb7iKvw3yj_2">скачать файл с&nbsp;полноразмерным полем</a>, не&nbsp;разрезанным на&nbsp;части&nbsp;&mdash; 500 &times; 500&nbsp;мм.</p>

    <p>Также разработан <a href="../emcard/">карточный вариант</a> этой игры.</p>

  </section>

</article>
