<article>

  <app-navigation></app-navigation>

  <header>

    <h1>О покорении городов и&nbsp;любви к&nbsp;родине</h1>

    <p>Юрий Шевченко, 2009 г.</p>

  </header>

  <section>

    <p>Мрачным зимним вечером сквозь морозную пургу в&nbsp;тщеславном одиночестве брел Испанский Соловей темной улицей старого города. Холодный как сталь ветер жестко выл в&nbsp;переулках, путался среди голых ветвей черных карликовых деревьев и&nbsp;швырял в&nbsp;лицо Соловью пригоршни колючего снега. Город умирал. Замерзала вода, лопались трубы, последние капли электричества таяли на&nbsp;концах обугленных проводов. Неизвестность, медленно клубясь рваными черными клочьями, обволакивала повседневность вязкой дремотой.</p>

    <p>Шумный вокзал с&nbsp;грязно-желтым освещением, заплеванным полом и&nbsp;разбитыми стенами был неприятен. Неприятной была и&nbsp;жирная кассирша в&nbsp;синих чулках, наглухо забаррикадировавшаяся в&nbsp;деревянном клозете. Но&nbsp;она торговала плацкартами в&nbsp;светлое будущее.</p>

    <p>Лишь когда черные силуэты за&nbsp;окном поплыли в&nbsp;сторону, жгучая тоска начала постепенно отступать от&nbsp;сердца, и&nbsp;под стук колес Испанский Соловей забылся безмятежным сном человека, отдавшегося на&nbsp;волю Провидения.</p>

    <p>Утро встретило Соловья ослепительной голубизной безоблачного неба и&nbsp;оживленной привокзальной площадью. Ретро-трамвай вызывающе звенел, собирая таксу с&nbsp;чужих пассажиров, обрывки плакатов и&nbsp;объявлений покрывали стены старомодных зданий, неизвестность, сверкая белыми молниями, трещала в&nbsp;своем нетерпении быть раскрытой.</p>

    <p>Этот город будет лежать у&nbsp;ног Испанского Соловья. Беспомощный и&nbsp;ничтожный, с&nbsp;его тупоумными мразями, сытыми рылами, оголтелыми и&nbsp;охрипшими от&nbsp;бесконечно-кровавого вопля гопниками, сквалыжными ростовщиками, игровыми автоматами и&nbsp;пьяными кабаками, он&nbsp;будет оглушен электричеством гитар и&nbsp;раздавлен подкованными каблуками черных кожаных берцев.</p>

    <p>...Потом была темная неизвестность, почти такая&nbsp;же, как дома, и&nbsp;Соловей ощутил себя бесконечно потерянным в&nbsp;размахе времени и&nbsp;пространства. Он&nbsp;брел, не&nbsp;разбирая дороги, потеряв ориентиры, одинокий и&nbsp;никому не&nbsp;нужный.</p>

    <p>От&nbsp;отчаяния спасала только Память. Непостижимым образом она грела сердце и&nbsp;ласкала душу. Испанский Соловей погружался в&nbsp;нее и&nbsp;плакал, постепенно размягчаясь, наполняясь новым рассветом.</p>

    <p>Ностальгия повела его обратно, назад, туда, откуда он&nbsp;пришел. Там не&nbsp;было ничего, но&nbsp;была Память, и&nbsp;она грела и&nbsp;ласкала, а&nbsp;он&nbsp;размягчался и&nbsp;наполнялся.</p>

    <p>Наконец он&nbsp;переполнился, и&nbsp;рассвет пошел через край, яркими брызгами освежая весь окружающий мир. Испанский Соловей открыл глаза и&nbsp;с&nbsp;щемящей радостью увидел теплую красоту и&nbsp;тихую неизвестность, мягко расстилавшуюся впереди.</p>

    <p>А&nbsp;потом началась война.</p>

  </section>

</article>
