<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Дни немоты</h1>

    <p>Саундтреки минометных сновидений</p>

    <img src="assets/days_cover.jpg" alt="Дни немоты">

    <div class="vk">
      <div [id]="objId"></div>
    </div>

    <img src="assets/days_inside.jpg" alt="Обложка">

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров:</strong> тексты (все, в&nbsp;т.&nbsp;ч.&nbsp;8&nbsp;&mdash; вольный перевод стихотворения Дж.&nbsp;Моррисона &laquo;The&nbsp;Endless Quest a&nbsp;Vigil&raquo;), музыка (1, 2, 4&ndash;6), сопродюсирование.
      <strong>Юрий Шевченко:</strong> текст&nbsp;(3), музыка <span class="nowrap">(1&ndash;5,</span> 7&ndash;9), вокал (1&ndash;8), запись вокала, вёрстка обложки.
      <strong>Антон Бессонов:</strong> аранжировка, гитара, <span class="nowrap">бас-гитара,</span> шёпот (5), саунд-дизайн, семплирование, сопродюсирование.
      <strong>Дина Галузо:</strong> основная аранжировка (2, 4, 6), вокал (2, 9), бэк-вокал&nbsp;(4).
      <strong>Роман Дегтяренко</strong>&nbsp;&mdash; текст (3).
      <strong>Алексей Нагорных</strong>&nbsp;&mdash; запись бэк-вокала&nbsp;(4).
      <strong>ARProduction:</strong> запись, сведение, мастеринг. Особая благодарность Роману Кондратьеву (LikeDiamonds) и&nbsp;Василию Ткачу за&nbsp;предоставленные семплы, а&nbsp;также Дмитрию Дуброву (PLOTNIK82) за&nbsp;синтезатор &laquo;Поливокс&raquo;.
      <strong>Илья Вараксин</strong>&nbsp;&mdash; фото на&nbsp;обложке.
      <strong>Дата релиза</strong>&nbsp;&mdash; 8&nbsp;августа 2016&nbsp;г.
    </p>

  </section>

</article>
