<main>

  <header>

    <h1>Юрий Шевченко</h1>

    <p>Персональная страница</p>

  </header>

  <section>

    <h2>Литература</h2>

    <p><a href="/knm">Ком Натаро Мана</a></p>
    <p><a href="/bus">Человек, который ездил на&nbsp;тралебусе</a></p>
    <p><a href="/trifles">Человек, который собирал безделицы</a></p>
    <p><a href="/conquista">О покорении городов и&nbsp;любви к&nbsp;родине</a></p>
    <p><a href="/iambing">Семистопное ямбирование</a></p>
    <p><a href="/later">Жизнь на&nbsp;потом</a></p>
    <p><a href="/em">Днепропетровск</a></p>

    <h2>Дизайн и вёрстка</h2>

    <p><a href="/empire">Настольная экономическая игра &laquo;Империя&raquo;</a></p>
    <p><a href="/emcard">Карточный вариант &laquo;Империи&raquo;</a></p>

  </section>

</main>
