<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Человек, который собирал безделицы</h1>

    <p>Юрий Шевченко, 2000 г.</p>

  </header>

  <section>

    <p>Жил-был на&nbsp;свете Человек. Он&nbsp;был один, и&nbsp;не&nbsp;было у&nbsp;него ни&nbsp;родственников, ни&nbsp;друзей.</p>

    <p>Каждый день он&nbsp;вставал в&nbsp;семь часов, завтракал и&nbsp;шел на&nbsp;работу. В&nbsp;обед он&nbsp;ходил в&nbsp;небольшое кафе неподалеку от&nbsp;его дома, и&nbsp;направлялся к&nbsp;тому столику, за&nbsp;которым обычно сидел&nbsp;&mdash; в&nbsp;левом дальнем углу от&nbsp;дверей. После обеда он&nbsp;продолжал работать, и&nbsp;к&nbsp;вечеру шел домой. А&nbsp;по&nbsp;пути заходил в&nbsp;каждый магазин, который ему встречался. Иногда он&nbsp;покупал какую-нибудь безделицу. Тогда он&nbsp;нес ее&nbsp;домой и&nbsp;ставил на&nbsp;каминную полку. Таких безделиц у&nbsp;него скопилось уже достаточно много, скоро совсем не&nbsp;останется места. Человек не&nbsp;обращал внимания.</p>

    <p>Однажды&nbsp;он, как обычно, шел после работы домой. Он&nbsp;зашел в&nbsp;один из&nbsp;тех магазинов, что попадались ему на&nbsp;пути и&nbsp;купил очередную безделицу. Затем он&nbsp;пришел домой и&nbsp;поставил ее&nbsp;рядом с&nbsp;остальными на&nbsp;каминную полку. И&nbsp;тут он&nbsp;вдруг обратил внимание, что скоро на&nbsp;каминной полке совсем не&nbsp;останется места. А&nbsp;тогда некуда будет ставить очередную безделицу.</p>

    <p>Человек подошел к&nbsp;окну и&nbsp;раздвинул шторы.</p>

    <p>За&nbsp;окном был вечерний город, наполненный светом уличных огней, черно-синими пятнами наступающей темноты, автомобилями, людьми, идущими с&nbsp;работы, людьми прогуливающимися.</p>

    <p>И&nbsp;Человек подумал. Вот люди идут, вот люди едут на&nbsp;машинах, они знают, что им&nbsp;делать и&nbsp;что им&nbsp;не&nbsp;делать, и&nbsp;они делают и&nbsp;не&nbsp;делают на&nbsp;свое усмотрение. А&nbsp;я&nbsp;не&nbsp;знаю куда буду ставить свои безделицы, когда место на&nbsp;каминной полке закончится.</p>

    <p>Он&nbsp;разжег в&nbsp;камине огонь и&nbsp;стал не&nbsp;спеша расхаживать кругами по&nbsp;комнате. Куда девать безделицы, буде место на&nbsp;каминной полке закончится? Поглощенный поисками ответа, он&nbsp;не&nbsp;замечал ничего вокруг. Он&nbsp;прожил долгую жизнь, очень долгую. Он&nbsp;не&nbsp;помнил уже своих родителей, он&nbsp;забыл, кто был его последним другом из&nbsp;целой плеяды друзей, но&nbsp;никогда за&nbsp;всю жизнь он&nbsp;не&nbsp;оказывался в&nbsp;столь сложной ситуации.</p>

    <p>Человек вышел из&nbsp;дома и&nbsp;пошел в&nbsp;то&nbsp;самое небольшое кафе, что неподалеку от&nbsp;его работы, надеясь найти решение своей проблемы на&nbsp;дне какой-нибудь рюмки. И&nbsp;с&nbsp;удивлением обнаружил, что за&nbsp;его столиком сидит Прекрасная Дама. Странно, ведь обычно столик никто кроме него не&nbsp;занимал.</p>

    <p>Вам нужны безделицы, спросил Человек. Спросил просто так, не&nbsp;задумываясь, скорее от&nbsp;неловкости. Какие безделицы, спросила Прекрасная Дама. Ну, например такие, и&nbsp;Человек показал Прекрасной Даме безделицу. Ну&nbsp;что&nbsp;ж, пожалуй, я&nbsp;могу взять у&nbsp;вас эту безделицу, ответила Прекрасная Дама.</p>

    <p>И&nbsp;вот с&nbsp;тех пор Человек каждый день вставал в&nbsp;семь часов, завтракал и&nbsp;шел на&nbsp;работу. В&nbsp;обед он&nbsp;ходил в&nbsp;небольшое кафе неподалеку от&nbsp;его дома. Он&nbsp;направлялся к&nbsp;тому столику, за&nbsp;которым обычно сидел&nbsp;&mdash; в&nbsp;левом дальнем углу от&nbsp;дверей. Иногда за&nbsp;столиком сидела Прекрасная Дама, и&nbsp;тогда он&nbsp;отдавал ей&nbsp;очередную безделицу, купленную в&nbsp;одном из&nbsp;тех магазинов, что встречались ему по&nbsp;дороге домой, и&nbsp;больше никогда не&nbsp;испытывал недостатка свободного места на&nbsp;каминной полке у&nbsp;себя дома.</p>

  </section>

</article>
