<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Память</h1>

    <p>ГДЕ?</p>

  </header>

  <section>

    <pre>
     Em              Am           H7
Прекрасны имена как медь опавших листьев
    Em             Am   H7    Em
Звенящая в пыли потоков и частиц
    Em                  Am         H7
Рождаясь в эту жизнь короткую как выстрел
  Em              C       H7    Em
Они находят смысл и не находят лиц

Некрополь их язык где плачет чья-то память
Певец небесных грез и пошлых небылиц
Испанский соловей как беглый каторжанин
Уснувший в кабаке в объятьях танцовщиц

Во сне он видит сад где бродят элефанты
В палате лордов дождь в Касталии туман
И нужен проводник неистовый как Данте
Сквозь лихорадку чувств и времени дурман</pre>

  </section>

</article>
