<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>ИллюЗстратор</h1>

    <p>Скептические впечатления авторов <br>
    о&nbsp;тупом освоении пространств днепровского региона <br>
    в&nbsp;период 2001&ndash;2002&nbsp;гг.</p>

    <img src="assets/illuzstrator_cover.jpg" alt="ИллюЗстратор">

    <p><a href="https://yadi.sk/d/3EdF6gBD3EzzXh">Скачать</a></p>

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров:</strong> тексты все, кроме&nbsp;5 (вольный перевод стихотворения Д.&nbsp;Моррисона) и&nbsp;11, музыка (13), чревовещание, блокфлейта, резинка (4), перкуссия (8).
      <strong>Юрий Шевченко:</strong> музыка вся, кроме&nbsp;13, тексты (1, 6, 11, 12), вокал, чревовещание, гитара, цифровая доработка композиций, фото и&nbsp;верстка обложки.
      <strong>Алина Алтанец:</strong> клавиши, чревовещание.
      <strong>Роман Дегтяренко:</strong> тексты (1, 6, 12), фотосъемка в&nbsp;студии.
      <strong>Сергей Нападайло (SNAP):</strong> запись, сведение.
      <strong>Ярослав Нападайло</strong>&nbsp;&mdash; перкуссия (5, 11).
      Запись проходила на&nbsp;<strong>OVERLOAD home-Studio</strong> в&nbsp;Горловке с&nbsp;1&nbsp;по&nbsp;9&nbsp;мая 2002&nbsp;г. Последующая цифровая доработка&nbsp;&mdash; студия ViP, г.&nbsp;Днепропетровск.
      <strong>Спасибо:</strong> семье Дегтяренко, А.&nbsp;Икрину, А.&nbsp;Тищенко, О.&nbsp;Пилипченко, С.&nbsp;Нападайло, Г.&nbsp;Белякову&nbsp;&mdash; за&nbsp;наше счастливое детство; Горловке, Донецку, Днепропетровску, О.&nbsp;Никушиной, Н.&nbsp;Овсиенко, О.&nbsp;Бородиной&nbsp;&mdash; за&nbsp;вдохновение.
      <strong>Интертекстуальные связи:</strong> Гораций, Державин, Пушкин, Маяковский, Испанец (В.&nbsp;Антонюк).
      <strong>Время релиза</strong>&nbsp;&mdash; май&nbsp;2002&nbsp;г.
    </p>

  </section>

</article>
