<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Ночные</h1>

    <p>Тихо роняя прозрачные тени</p>

    <img src="assets/nocturnal_cover.jpg" alt="Ночные">

    <div class="vk">
      <div [id]="objId"></div>
    </div>

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров</strong>&nbsp;&mdash; тексты.
      <strong>Юрий Шевченко:</strong> музыка, аранжировки, вокал, запись, сведение, фото, дизайн и&nbsp;вёрстка обложки.
      Фонограммы подготовлены в&nbsp;селе Опытное Артёмовского района Донецкой области в&nbsp;марте 2011&nbsp;года.
      Вокал записан и&nbsp;сведён с&nbsp;фонограммами в&nbsp;селе Новолуганское того&nbsp;же района осенью того&nbsp;же года.
      Там&nbsp;же альбом был пересведён в&nbsp;ноябре 2013&nbsp;года.
      <strong>Дата релиза</strong>&nbsp;&mdash; 15&nbsp;ноября 2011&nbsp;г.
    </p>

  </section>

</article>
