:root {
  --gray-body: dimgray;
  --gray-section: gainsboro;
  --gray-section-a-underline: darkgray;
  --gray-section-a-hover: gray;
  --gray-article-shadow: #484848;
  --gray-nav-svg: darkgray;

  /* Adobe HSB: 200 33 50 */
  --cool-body: #557180;

  /* Adobe HSB: 33 10 90 */
  --cool-section: #E6DBCF;

  /* Adobe HSB: 33 15 80 */
  --cool-section-a-underline: #CCBEAD;

  /* Adobe HSB: 33 20 70 */
  --cool-section-a-hover: #B3A28F;

  /* Adobe HSB: 200 33 33 */
  --cool-article-shadow: #384B54;

  /* Adobe HSB: 200 33 66 */
  --cool-nav-svg: #7196A8;
}

body {
  margin: 0;
  background-color: var(--cool-body);
}

span.nowrap {
  white-space: nowrap;
}

div.vk {
  max-width: 600px;
  margin: auto;
  margin-top: 2rem;
}

article {
  position: relative;
}

article header,
main header {
  background-color: whitesmoke;
  padding: 2.8rem 2rem 2rem;
  font-family: 'Fira Sans';
  text-align: center;
}

article header h1,
main header h1 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 500;
  margin: 0;
}

article header p,
main header p,
main header address {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 1rem 0 1rem;
  color: gray;
}

article header p a,
main header p a,
main header address a {
  color: gray;
  text-underline-position: under;
  text-decoration-color: darkgray;
  text-decoration-thickness: 1px;
}

article header p a:hover,
main header p a:hover,
main header address a:hover {
  color: black;
}

article header img,
main header img {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 5px;
}

article section,
main section {
  background-color: var(--cool-section);
  padding: 2rem;
}

article section h2,
main section h2 {
  font-family: 'Fira Sans';
  font-weight: 500;
  margin-block-start: 2rem;
}

article section h2:first-child,
main section h2:first-child {
  margin-block-start: 0;
}

article section p,
main section p {
  font-family: 'Source Serif Pro';
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1rem 0;
}

article section p a,
main section p a {
  color: black;
  text-underline-position: under;
  text-decoration-color: var(--cool-section-a-underline);
  text-decoration-thickness: 1px;
}

article section p a:hover,
main section p a:hover {
  color: var(--cool-section-a-hover);
}

article section p:first-child,
main section p:first-child {
  margin-block-start: 0;
}

article section p:last-child,
main section p:last-child {
  margin-block-end: 0;
}

article section p.small {
  font-family: 'Fira Sans';
  font-size: 1rem;
  font-weight: 300;
}

article section p.small strong {
  font-weight: 500;
}

nav {
  position: absolute;
  top: 0.5rem;
  right: -2.4rem;
  display: flex;
  flex-direction: column;
}

nav div {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav svg {
  fill: var(--cool-nav-svg);
}

nav svg:hover {
  fill: whitesmoke;
}

@media screen and (orientation: landscape) {

  article {
    margin-right: 2.8rem;
    box-shadow: 0 3px 8px var(--cool-article-shadow);
  }
}

@media screen and (orientation: portrait) {

  main {
    box-shadow: 0 3px 8px var(--cool-article-shadow);
  }

  article {
    margin-top: 2.8rem;
    box-shadow: 0 -2px 8px var(--cool-article-shadow);
  }

  nav {
    top: -2.5rem;
    right: 0.5rem;
    flex-flow: row-reverse;
  }

  nav div:first-child svg {
    position: relative;
    top: 0.1rem;
  }

  article header,
  main header {
    padding: 2.8rem 1.3rem 2rem;
  }

  article section,
  main section {
    padding: 2rem 1.3rem;
  }
}

@media screen and (min-width: 110ch) {

  article,
  main {
    margin: 1rem auto;
    width: 100ch;
    box-shadow: 0 3px 8px var(--cool-article-shadow);
  }

  article header,
  main header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  article section,
  main section {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
