<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Блюзовый дождь</h1>

    <p>Александр Литвинов (Веня Д'ркин, Дрантя)</p>

  </header>

  <section>

    <pre>
Как по Есенину
Тоскливо и сказочно
В замке уютный бардак
Капли последние
Звездочно-марочно
Слезы и дождь и коньяк

Сначала был ливень
Потом был туман
Так тяжек и безголосен
И замок мой пал
И нынче в нем бал
И королевою Осень

Даже времени не подвластна
И королева сама это знает
Согласитесь она прекрасна
В шубке из горностая

Королевы своего сердца
Лишь мантии касаюсь едва
Что поделать всему свое место
Кому e1 а кому-то e2

В замке окно всего лишь одно
Окно выходящее в сад
Там сыро темно
И тысяча но
Как жаль что еще не вино
Раздавленный мой виноград

* * *

 C              Am                 Dm  G7
Листья опали затем чтоб родиться опять
 C                   Am                Dm  G7
Листья не знали как долго приходится ждать
 F           G                 C
Память всем тем кто решился отдать
   E      Am
Зеленую плоть что ж
 F               Dm
Нам остается мечтать
            G7            C  F  G
И верить в то что скажет нам
          C  Am  Dm  G7
Блюзовый дождь

Жизнь спряталась в норы в надежде вырваться вновь
Жизнь задернула шторы в квартирах заплаканных вдов
Слышишь как бьется прощальная кровь
В птицах улетающих прочь
Мы остаемся без снов
Но с верой в то что скажет нам
Блюзовый дождь

Там голые лапы деревьев ловят ворон
Там угли костра уж не в силах бороться с дождем
Там лишь тень человека с ружьем
И ты все еще ждешь
      F                               Am
В ожидании нету границ между явью и сном
    Dm7      G7            C  F  G
Ты веришь в то что скажет нам
Блюзовый дождь</pre>

  </section>

</article>
