<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Медведица</h1>

    <p>Закодированные жизненные ощущения авторов <br>
    в&nbsp;период 1999&ndash;2000&nbsp;гг.</p>

    <img src="assets/ursa_cover.jpg" alt="Медведица">

    <p><a href="https://yadi.sk/d/YqnuK-q23EzzVj">Скачать</a></p>

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров:</strong> тексты, блокфлейта, голос.
      <strong>Юрий Шевченко:</strong> музыка, гитара, голос, оформление обложки.
      <strong>Валерий Лаврентьев</strong>&nbsp;&mdash; некто говорящий.
      <strong>Денис Неботов (Колесо)</strong> проходил мимо.
      <strong>Сергей Нападайло (SNAP):</strong> запись, сведение.
      Записано на&nbsp;<strong>OVERLOAD home-Studio</strong> в&nbsp;Горловке летом 2000&nbsp;года.
      <strong>В&nbsp;альбоме звучат цитаты:</strong> из&nbsp;письма Байрона своему другу; из&nbsp;книги Распэ &laquo;Приключения барона Мюнхгаузена&raquo;.
      Обложка оформлена с&nbsp;использованием картины голландского художника Леонарта Брамера &laquo;Пляшущий царь Давид&raquo;.
      <strong>Дата релиза</strong>&nbsp;&mdash; 24&nbsp;августа&nbsp;2000&nbsp;г.
    </p>

  </section>

</article>
