<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Бандито гангстерито</h1>

    <p>Из м/ф &laquo;Приключения капитана Врунгеля&raquo;</p>

  </header>

  <section>

    <pre>
C G C Dm G C

      C                                E
Мы бандито гангстерито мы костето-пистолето о йес
        Gm                             A
Мы стрелянто убиванто украданто то и это о йес
                   Dm         G          C       Am
Банко-тресто президенто ограблянто ун моменто о йес
     Dm7                    G           C
И за энто режисенто нас сниманто в киноленто

Мы бандито знаменито мы стрелято пистолето о йес
Мы фиато разъезжато целый день в кабриолето о йес
Постоянно пьем чинзано постоянно сыто-пьяно о йес
Держим в банко миллионо и плеванто на законо

Мы пирато гастролеро мы сеньоро де ля воро о йес
И гражданто убеганто врассыпанто престо скоро о йес
А ля белле дель бамбино все игранто в гангстерино о йес
У мамано цап монето и стрелято пистолето</pre>

  </section>

</article>
