<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>De Profundis</h1>

    <p>Как будто Лорд Байрон</p>

    <img src="assets/de_profundis_cover.jpg" alt="De Profundis">

    <div class="vk">
      <div [id]="objId"></div>
    </div>

  </header>

  <section>

    <p class="small">
      <strong>Руслан Гончаров</strong>&nbsp;&mdash; текст, бэк-вокал, коньяк, мудрое руководство.
      <strong>Юрий&nbsp;Шевченко</strong>&nbsp;&mdash; музыка, аранжировка, вокал, запись, сведение, фотоколлаж.
      Вокал записан в&nbsp;студии <strong><span class="nowrap">Kaidaki-na-Shvabre</span> Sound</strong> 14&nbsp;сентября 2007&nbsp;г.
      Фонограмма и&nbsp;мастер изготовлены в&nbsp;студии <strong>ViP</strong> в&nbsp;сентябре 2007&nbsp;г.
      <strong>Дата&nbsp;релиза</strong>&nbsp;&mdash; 3&nbsp;октября 2007&nbsp;г.
    </p>

  </section>

</article>
