<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Далека дорога твоя</h1>

    <p>Из к/ф &laquo;Человек с бульвара Капуцинов&raquo;</p>

  </header>

  <section>

    <pre>
 C        G      C
Далека дорога твоя
 F                C
Далека дика и пустынна
C                 E7      Am
Эта даль и глушь не для слабых душ
 F               Am
Далека дорога твоя

    Hm     F#m     Em    F#m
О прерия прерия великая даль
Индейские перья английская сталь
   C      G        C     G
Тяжелая плата смешная цена
      A              D
Тут главное шляпа была бы цела
     C         D       Em
И конечно мне дорого где-то
То на что эта шляпа надета
C7              G
   Вот такие дела

Быстро едешь раньше помрешь
Тише едешь вряд ли доедешь
Так живи не трусь будь что будет пусть
А что будет дальше поймешь

Впереди еще полпути
Позади еще полдороги
Помолись богам сколько есть их там
Впереди еще полпути</pre>

  </section>

</article>
