<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Человек, который ездил на&nbsp;тралебусе</h1>

    <p>Юрий Шевченко, 2000 г.</p>

  </header>

  <section>

    <p>Человек вышел из&nbsp;дома и&nbsp;направился на&nbsp;тралебусную остановку. Он&nbsp;шел между рядов одноэтажных домиков, разглядывал зеленые деревья, и&nbsp;голубое небо восхищало его своею девственною чистотою.</p>

    <p>Через десять минут Человек был на&nbsp;остановке. Там стояли люди. Их&nbsp;было аккурат двадцать два, и&nbsp;они тихонько возмущались по&nbsp;поводу того, что тралебусы ходют плохо, а&nbsp;людям на&nbsp;работу ехать надо, а&nbsp;как тут до&nbsp;работы доберешься, когда тралебусы ходют плохо. Через двенадцать секунд приехал тралебус и&nbsp;гостеприемлимо распахнул свои скриплявые дверцы. Люди и&nbsp;Человек погрузились в&nbsp;тралебус, и&nbsp;уехали.</p>

    <p>На&nbsp;следующее утро Человек снова вышел из&nbsp;дома и&nbsp;направился на&nbsp;тралебусную остановку. Можно подумать, что Человек ездил на&nbsp;работу, поскольку каждый день, не&nbsp;считая выходных, он&nbsp;выходил из&nbsp;дома и&nbsp;направлялся на&nbsp;тралебусную остановку. И&nbsp;каждый день, не&nbsp;считая выходных, на&nbsp;остановке стояли люди, количество которых каждый день увеличивалось по&nbsp;странной системе&nbsp;&mdash; первая цифра двузначного числа на&nbsp;единицу увеличивалась, а&nbsp;вторая на&nbsp;единицу уменьшалась. Сегодня их&nbsp;было тридцать один и&nbsp;они тихонько возмущались по&nbsp;поводу того, что тралебусы ходют все редко и&nbsp;редко, а&nbsp;рабочий день не&nbsp;сокращается, и&nbsp;никто в&nbsp;Белом доме этот вопрос с&nbsp;полу не&nbsp;поднимает. Через двенадцать секунд приехал тралебус, люди и&nbsp;Человек погрузились в&nbsp;него и&nbsp;уехали.</p>

    <p>Через некоторое время люди заметили, что во&nbsp;сколько&nbsp;бы они не&nbsp;приходили на&nbsp;остановку, тралебус все равно приезжал только через двенадцать секунд после появления на&nbsp;остановке Человека. Люди&nbsp;&mdash; они хитрые были, знали что такое жить, и&nbsp;поэтому Человеку ничего не&nbsp;рассказывали, а&nbsp;тихонько ждали, когда он&nbsp;появится на&nbsp;остановке. Тогда приезжал тралебус, все в&nbsp;него погружались и&nbsp;уезжали.</p>

    <p>Однажды людей стало сто три. Они стояли на&nbsp;остановке и&nbsp;ждали, когда появится Человек, чтобы все могли погрузиться на&nbsp;тралебус и&nbsp;уехать. Они ведь хитрые были, они уже приловчились, и&nbsp;знали, когда Человек приходит на&nbsp;остановку, поэтому сами пришли незадолго до&nbsp;его появления, чтобы много шибко не&nbsp;стоять. Однако сегодня они стояли много, и&nbsp;еще раз много, а&nbsp;Человек все не&nbsp;приходил. Люди начали тихонько роптать&nbsp;&mdash; да&nbsp;шта это такое, нас сто три, а&nbsp;никакой возможности спокойно добраться до&nbsp;работы нету, и&nbsp;куда смотрит высокое начальство из&nbsp;Белого дома. Однако Человек все не&nbsp;приходил. Наконец нашелся из&nbsp;людей кто-то громкий, он&nbsp;предложил пойти и&nbsp;поискать Человека, и&nbsp;сказать ему, будто никак не&nbsp;получается до&nbsp;работы добраться, и&nbsp;пусть он&nbsp;что-то решает, раз такой умный. Люди посоветовались, посоглашались, и&nbsp;пошли искать Человека.</p>

    <p>Они долго ходили между рядов одноэтажных домиков, разглядывая зеленые деревья и&nbsp;голубое небо, и&nbsp;наконец-то совсем нашли Человеческий дом. Оный стоял в&nbsp;центре огорода, окруженный по&nbsp;всем сторонам красивыми сорняками и&nbsp;грушами. Люди подошли к&nbsp;нему, заглянули в&nbsp;окошко и&nbsp;в&nbsp;ужасе отпрянули. Что там, что там, озабоченно спрашивали задние, и&nbsp;самый громкий залез на&nbsp;крышу и&nbsp;картинно махнул рукой в&nbsp;знак тишины. Когда все замолчали, громкий взволнованно сказал: &laquo;Он&nbsp;спит!&raquo;</p>

    <p>Люди слышно зароптали. Да&nbsp;шта это такое, да&nbsp;шта&nbsp;же это происходит, людям на&nbsp;работу ехать, а&nbsp;он&nbsp;тут безмятежно спит, еще и&nbsp;дрыхнет, и&nbsp;все мимо усов, и&nbsp;когда это закончится, и&nbsp;кто это проконтролирует, и&nbsp;ваще. Люди начали громко стучать в&nbsp;окошко, а&nbsp;Человек спал себе безмятежно и&nbsp;дрых мимо усов.</p>

    <p>Потом Человек проснулся. Он&nbsp;тяжело поднялся со&nbsp;скрипучей кровати, пошатываясь подошел к&nbsp;окошку, широко-широко зевнул и&nbsp;увидел со&nbsp;снаружи много людей. Люди сидели в&nbsp;сорняках и&nbsp;грушах, мужики курили и&nbsp;играли в&nbsp;карты, бабы о&nbsp;чем-то трепались, и&nbsp;словно казалось, будто все чего-то ждали. Но&nbsp;вот один из&nbsp;людей заметил в&nbsp;окошке Человека, замахал руками, запрыгал, тогда люди побросали свои занятия и&nbsp;подбежали к&nbsp;окошку, и&nbsp;стали что-то кричать Человеку. Человек открыл форточку и&nbsp;послушал. Потом понял, что от&nbsp;него требуется, и&nbsp;крикнул: &laquo;А&nbsp;у&nbsp;меня выходной!&raquo;</p>

    <p>Люди охуели от&nbsp;такой наглости. Какой такой выходной, рабочий день сьодни, всем ехать надо, а&nbsp;он&nbsp;осмеливается заявлять, что у&nbsp;него выходной, да&nbsp;он&nbsp;не&nbsp;имеет права, куда Белый дом смотрит и&nbsp;ваще. Люди бушевали, а&nbsp;громкий заглядывал в&nbsp;окошко и&nbsp;наблюдал, что там такое делает Человек. А&nbsp;Человек в&nbsp;это время безмятежно сидел на&nbsp;кухне и&nbsp;в&nbsp;одних трусах пил чай с&nbsp;сахаром.</p>

    <p>Потом Человеку куда-то надо было ехать. Наверно далеко, потому что он&nbsp;собрал целый рюкзак и&nbsp;впридачу надел на&nbsp;голову шляпу, чего обычно с&nbsp;ним не&nbsp;происходило. Люди осторожно затихли.</p>

    <p>А&nbsp;потом Человек вышел из&nbsp;дома.</p>

    <p>Что тут началось! Люди схватили Человека и&nbsp;на&nbsp;радостях стали подшвыривать его на&nbsp;воздух, аж&nbsp;пока он&nbsp;совсем шляпу не&nbsp;потерял. А&nbsp;потом с&nbsp;громкими криками радости и&nbsp;веселья Человека на&nbsp;руках принесли на&nbsp;тралебусную остановку. Через двенадцать секунд приехал тралебус и&nbsp;гостеприемлимо распахнул свои скриплявые дверцы.</p>

    <p>Люди и&nbsp;Человек погрузились в&nbsp;тралебус и&nbsp;уехали.</p>

  </section>

</article>
