<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Горизонтальная</h1>

    <p>Александр Литвинов (Веня Д'ркин Дрантя)</p>

  </header>

  <section>

    <pre>
   C
На улице солнце сменилось дождем
На улице ночь меняется днем
   F7                       G
Какой-то дурак по росе босиком

                  C   F C
А я валяюсь на диване
                    F C
Я валяюсь на диване
             G
И пусть без ниппеля сигара
        F7
И с мешками под глазами
G                 C   F C
  Я валяюсь на диване

Землетрясение рухнул мой дом
Остался диван и я лежу на нем
Все умерли остался я один все дело в том

Что я валяюсь на диване
Я валяюсь на диване
И с головы до ног с руками
Весь засыпан ништяками
И валяюсь на диване

А рядом странно уже два дня
Какая-то пальба какая-то война
Пришли фашисты взяли в плен меня

А я валяюсь на диване
Я валяюсь на диване
А догадайся что нащупал
Я в своем пустом кармане
И валяюсь на диване</pre>

  </section>

</article>
