<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Не скучай</h1>

    <p>Александр Литвинов (Веня Д'ркин Дрантя)</p>

  </header>

  <section>

    <pre>
     C
От крохотных женщин живущих в трусах
Случаются просто полярные дни
   F
О мой юный друг с сединой на висках
   C                  G
О розовый гений с пивбаром внутри

       Am               D
Я подарю тебе женщин живущих в трусах
         G                   C
Они не пьют и не едят и незаметны в метро
       A                             D
И уступая им в малом ты получишь на чай
     G
Ежедневный банзай
       C
Не скучай

От семи дурачков что в моей голове
Получаюсь я сам семикратный дурак
Дурачки там устроили фурор и бардак
Но зато с ними я сам себе на уме

Я посажу тебе в голову семь дурачков
Можно в прятки играть ковыряясь в носу
Доставать их и прятать в какой-то потай
Начинай
Не скучай

Что толку от Толкиена и Желязны
Когда прав насколько маэстро Дали
В том что если намылить пониже спины
То можно забавно пускать пузыри

Я научу тебя пукать такой анашой
Что дурнее чем дрянь и что кумарит весь день
И пара пуков оттянут любую печаль
Получай
Не скучай</pre>

  </section>

</article>
