<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Пророк</h1>

    <p>ГДЕ?</p>

  </header>

  <section>

    <pre>
     F
Звезда общажных коридоров
    Am
Пророк столь жаждущий толпы
     Dm
В дыму усталых разговоров
            E           E7
О том как все вокруг тупы

   Am
Закончен век кумиры пали
          Dm
Но не вернулась благодать
     G
Все верно проголосовали
          C           E
Осталось деньги зароблять

И примерять чужие маски
В потугах выбора судьбы
Писать стихи и верить в сказки
И заколачивать гробы

           F
В которых те чьим вещим словом
   Am
Однажды был зажжен и ты
     Dm              Dm6
Звезда общажных коридоров
          E   E7       Am
На небосклоне    пустоты</pre>

  </section>

</article>
