<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Прекрасное далеко</h1>

    <p>Из к/ф &laquo;Гостья из будущего&raquo;</p>

  </header>

  <section>

    <pre>
       Em                     Am
Слышу голос из прекрасного далека
      H7                       Em
Голос утренний в серебряной росе
       C         D       G
Слышу голос и манящая дорога
        C                        H7
Кружит голову как в детстве карусель

     Em       Am      H7             Em
Прекрасное далеко не будь ко мне жестоко
    C              G       D       G
Не будь ко мне жестоко жестоко не будь
    Em        Am         H7       C
От чистого истока в прекрасное далеко
       Am       Em     H7      Em
В прекрасное далеко я начинаю путь

Слышу голос из прекрасного далека
Он зовет меня в чудесные края
Слышу голос голос спрашивает строго
А сегодня что для завтра сделал я

Я клянусь что стану чище и добрее
И в беде не брошу друга никогда
Слышу голос и спешу на зов скорее
По дороге на которой нет следа</pre>

  </section>

</article>
