<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Максютовская страдальческая</h1>

    <p>Александр Литвинов (Веня Д'ркин, Дрантя)</p>

  </header>

  <section>

    <pre>
Любят девки Феодора
С бородавкой на носу
И все тело в бородавках
И за шо его любить

* * *

Am      Em    F      G     C
Ой а у Федора   кроссовки белые
Am         Em       F     G     C
   Стоють дорого и за им девки бегают
F            C        Dm      E     Am
Ой где мне взять cебе    кроссовки белые
 Dm         Am        E            Am    Dm Am E Am E
Шобы и за мной в селе   все девки бегали

Ой а у Ивана-то штаны нерусские
Штаны ливанские и в попе узкие
Ой где мне взять штаны такие самые
И шобы с фирмами и шоб с карманами

Ой а у Ипатия очки с цепочкою
И он с председательской гуляет дочкою
Эх поеду-к я в Донецк и куплю себе очки
И тогда аще вконец обалдеют девочки

Ох и разоденусь я и выйду по степи
И все мои друзья помрут от зависти
Эх тоска зеленая пыхану махоркой и
Ой вы люди темные а ну пошли коров доить</pre>

  </section>

</article>
