<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Анжел</h1>

    <p>Александр Литвинов (Веня Д'ркин, Дрантя)</p>

  </header>

  <section>

    <pre>
C             Am
  Два шага вправо
     Dm                 G  G7
В надежде что там меня нет
C            Am
  Но это неправда
 Dm                     G
Вот он я завернутый в плед
   F              G
Но я хочу знать где мы
              E                   Am
Потому что хочу быть там где нас нет
     F       Dm
Там лучше в тысячу раз
    G     G7
Скажи мне

  C    Fm
Где мы Анжел
G               Cm
  В пепле на чадящем огне
           Fm
Или на корме
B7             E&#9837;
   Бригантины нашей
Fm    Cm    G7
Анжел Анжел

Сигара мягкое кресло
Клетчатый плед
Гитара сказки про детство
Рифмованный бред
А небо рядом настолько
Чтобы его не коснуться рукой
Там лучше потому что там нет
Меня и со мной

Анжел Анжел
Хозяин выключил свет
Чувствую след
Я кажется здесь был уже раньше
Анжел Анжел

Поезд десятое место
Это то где нас нет
Гонит куда неизвестно
Мерцающий свет
А время уходит ровно настолько
Насколько мы подходим к нему
Там лучше но еще один шаг
И я прокляну

Анжел Анжел
Я здесь не был никогда
Падает звезда
А небо вдруг становится дальше
Анжел Анжел</pre>

  </section>

</article>
