<article>

  <app-navigation></app-navigation>

  <header>

    <h1>Аккорды</h1>

    <p>Сборник любимых песен</p>

  </header>

  <section>

    <h2>Александр Литвинов</h2>

    <p><a routerLink="./angel">Анжел</a></p>
    <p><a routerLink="./rain">Блюзовый дождь</a></p>
    <p><a routerLink="./horizontal">Горизонтальная</a></p>
    <p><a routerLink="./lado">Ладо</a></p>
    <p><a routerLink="./ditties">Максютовская страдальческая</a></p>
    <p><a routerLink="./love">Непохожая на сны</a></p>
    <p><a routerLink="./fun">Не скучай</a></p>
    <p><a routerLink="./goblin">Песенка маленького гоблина</a></p>
    <p><a routerLink="./warm">Приноровлюсь-ка я к тебе</a></p>
    <p><a routerLink="./duke">Светлейший князь</a></p>
    <p><a routerLink="./sendei">Серебряный Сендей</a></p>
    <p><a routerLink="./tired">Устать себя щипать</a></p>

    <h2>Разное</h2>

    <p><a routerLink="./cinema">Далека дорога твоя</a></p>

  </section>

</article>
