<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Песенка маленького гоблина</h1>

    <p>Александр Литвинов (Веня Д'ркин Дрантя)</p>

  </header>

  <section>

    <pre>
    H7                  Em
Среди опалов яшм и изумрудов
     H7                  Em
В лесу из гладиолусов и маков
   Am                    Em
Гуляют гномы спросите откуда
  Am            H7         Em
Я их в лицо не видел но однако

Когда растает снег на этой крыше
Когда весна просушит эти лужи
Я припаду к земле и я услышу
И если мне не веришь сам послушай

Среди машин витрин и прочей дряни
В лесу антенн домов и телебашен
Гуляют кто они не знают сами
Я слышал люди очень может даже

Любви не просят и любви не будет
В дожде не ищут дождь а лишь уюта
А если так то свиньи тоже люди
Но странно что не слышат почему-то

Гуляют кто они не знают сами
Они умны красивы и одеты
А я дурак припал к земле ушами
И слышу изумрудные сонеты

Они быть может сами не хотели
Но знали б то как стали непохожи
На тех кто они есть на самом деле
Я их люблю любовь еще быть может</pre>

  </section>

</article>
