<article>

  <app-navigation [withHome]="true"></app-navigation>

  <header>

    <h1>Светлейший князь</h1>

    <p>Александр Литвинов (Веня Д'ркин, Дрантя)</p>

  </header>

  <section>

    <pre>
     Am                            E
Светлейший князь мой друг еще не старец
                           Am
Еще не слеп и красотой влеком
        Dm6                Am
Его супругою была Жаклин Онассис
       E                    Am
Его любовницей была Вдова Клико

Dm6                       Am
Он согревал еще теплом бокалы
     Dm6          G           C  A7
Он слушал сказки няни перед сном
    Dm          G         C
В его саду прекраснейшие дамы
    F               Dm
Полны томленья взгляды
      B7       E
Возжелавшие о нем

            Am                    Dm7 Dm6
Он гладил пса рукой в перстнях пока мы
            Am       Dm  E       Am
На Нижней Крынке пропадали за вином

Светлейший князь любил смотреть картинки
И посыпать лакеев конфетти
Он обожал с арбузов серединки
И выпил весь ликер с коробки Ассорти

Он собирал гостей в каминном зале
И угощал изысканным со льдом
Играл квартет и с влажными глазами
Притихшие mes amies
Любились о своем

Но гаснул свет и дамы забывали
Про нас активно пьющих за углом</pre>

  </section>

</article>
